<div class="customers view indent">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-user"></span> Customers</h3>
        </header>
        
        <div class="container">
            <div class="row cardContainer show-hide-animation" data-ng-hide="listDisplayModeEnabled">
                <div class="col-sm-6 col-md-3" data-ng-class="cardAnimationClasss" data-ng-repeat="customer in filteredCustomers | orderBy: 'lastName'">
                    <div class="card">
                        <button class="btn close cardClose" title="Delete Customer" data-ng-click="deleteCustomer(customer.id)">&times;</button>
                        <div class="cardHeader">
                            <a href="#customeredit/{{customer.id}}" class="white">{{customer.firstName + ' ' + customer.lastName}} <i class="glyphicon glyphicon-edit"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>